@use "../base/variables" as v;
@use "../base/mixins" as m;
@use "sass:color";

.derecha {
  display: flex;
  flex-direction: column;
  @include m.tablet {
    align-items: flex-end;
  }

  .dark-mode {
    width: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    filter: invert(100);

    &:hover {
      cursor: pointer;
    }

    @include m.tablet {
      margin-top: 0;
    }
  }
}
.barra {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  align-items: center;
  @include m.tablet {
    flex-direction: row;
    justify-content: space-between;
  }
}

.navegacion {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility, 0.3s ease-in-out, opacity 0.3s linear;
  @include m.tablet {
    display: flex;
    align-items: center;
    opacity: 1;
    visibility: visible;
  }
  a {
    color: v.$blanco;
    text-decoration: none;
    font-size: 2.2rem;
    display: block;
    text-align: center;

    &:hover {
      color: color.scale(v.$verde, $lightness: 15%);
      transition: ease-in-out 0.5 all;
    }
    @include m.tablet {
      margin-right: 2rem;
      font-size: 2rem;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
.contenedor-menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.mobile-menu {
  display: flex;
  justify-content: center;
  @include m.tablet {
    visibility: hidden;
  }

  img {
    width: 4rem;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  .line {
    background-color: aliceblue;
    width: 40px;
    height: 4px;
    margin: 5px 0;
  }

  .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
}
.mostrar {
  display: flex;
  flex-direction: column;
  visibility: visible;
  opacity: 1;
}
.line-active-1 {
  transform: rotate(45deg);
}

.line-active-2 {
  transform: scaleY(0);
}

.line-active-3 {
  transform: rotate(-45deg);
}
